
/*
/
/ hero section
/
*/

.hero {
  background-color: rgb(121, 80, 65);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .70)), url("images/coffee-beans.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero:first-of-type .row {
  height: 80%;
}

.hero .btn {
  font-size: 150%;
}

/*
/
/ nav bar
/
*/

.navbar {
  border-bottom: 2px solid lightgrey;
}

.navbar a {
  font-weight: 500;
  font-size: 150%;
}

.badge {
  margin-left: 5px;
}

/*
/
/ info section
/
*/

.info .row {
  padding: 0 20px;
  margin-bottom: 30px;
}

.info h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(35, 35, 35);
}

.info .display-4 {
  font-size: 300%;
}

.info h4 {
  font-size: 130%;
  color: rgb(75, 75, 75);
}

.info p {
  font-size: 110%;
  font-weight: 500;
  color: rgb(75, 75, 75);
}

.info p:hover {
  color: black;
  text-decoration: 1px black underline;

}

.gallery img {
  width: 100%;
  height: auto;
}

.responsive-img {
  padding: 0 6px;
  margin: 6px 0;
  float: left;
  width: 100%;
}

/*
/
/ footer
/
*/

footer div {
  padding: 20px 0;
}

footer p {
  text-align: center;
  font-size: 110%;
  font-weight: 500;
  color: lightgrey;
}

/*
/
/ menu & checkout hero
/
*/

.menu-hero {
  background-color: rgb(231, 231, 231);
}

.menu-hero, .checkout-hero {
  border-bottom: 4px solid lightgray;
}

.menu-hero h1, .checkout-hero h1 {
  margin-top: 80px;
  margin-bottom: 30px;
}

.menu-hero h4, .checkout-hero h4 {
  margin-bottom: 50px;
  font-size: 130%;
}

/*
/
/ menu section
/
*/

.menu {
  margin: 40px 0;
}

.menu .card {
  background-color: rgb(231, 231, 231);
  transition: background-color 0.2s;
}

.menu .card:hover {
  cursor: pointer;
  background-color: rgb(215, 215, 215);
}

.menu .card-title {
  font-size: 120%;
}

.menu .card-title, .price {
  font-weight: 500;
}

/*
/
/ checkout
/
*/


.shopping-cart {
	padding: 60px 0;
  background-color: rgb(231, 231, 231);
}

.shopping-cart .content {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .product {
	padding: 30px;
}

.shopping-cart .product-name {
	font-weight: 500;
}

.shopping-cart .value {
	font-weight: 400;
}

.shopping-cart .quantity {
  padding-top: 10px;
}

.shopping-cart .quantity-input {
  width: 80px;
}

.shopping-cart .quantity p {
  margin-top: 5px;
  font-size: 90%;
}

.shopping-cart .quantity p:hover,
.shopping-cart h4:hover {
  cursor: pointer;
  text-decoration: 1px black underline;
}

.shopping-cart i {
  margin-right: 5px;
}

.shopping-cart .product .price {
  font-size: 140%;
}

.shopping-cart .summary {
	border-top: 2px solid #5cb85c;
  height: 100%;
  padding: 30px;
  font-weight: 600;
}

.shopping-cart h3 {
	text-align: center;
	font-size: 160%;
	padding: 20px 0;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid lightgray;
}

.shopping-cart .summary .price {
	float: right;
}

.shopping-cart .summary button {
	margin-top: 20px;
}


/*
/
/ media queries
/
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .responsive-img {
    width: 49.99999%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero h1, .menu-hero h1, .checkout-hero h1 {
    font-size: 600%;
  }
  .menu-hero h4 {
    margin-bottom: 60px;
    font-size: 150%;
  }
  .shopping-cart .product .price {
    margin-top: 30px;
  }
  .shopping-cart .quantity {
    padding-top: 0;
    text-align: center;
  }
  .shopping-cart .quantity-input {
    margin: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .googleMap {
    width: 400px;
    height: 300px;
  }
  .info .display-4 {
    font-size: 320%;
  }
  
  .info h4 {
    font-size: 140%;
  }
  
  .info p {
    font-size: 120%;
  }
  .responsive-img {
    width: 24.99999%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hero h1, .menu-hero h1, .checkout-hero h1 {
    font-size: 700%;
  }
  .menu-hero h4 {
    font-size: 170%;
  }
}